<rss version="2.0"
xmlns:content="http://purl.org/rss/1.0/modules/content/">
  <channel>
    <title>{{ channel }}</title>
    <link>{{ blogURL }}</link>
    <description>{{ description }}</description>
    <language>{{ lang }}</language>
    <lastBuildDate>{{ lastRefreshDate }}</lastBuildDate>

    {{#each articles}}
      <item>
        <title>{{ title }}</title>
        <link>{{ link }}</link>
        <guid>{{ guid }}</guid>
        <pubDate>{{ publishDate }}</pubDate>
        <author>{{ author }}</author>
        <description>{{{ description }}}</description>
        <content:encoded>
          <![CDATA[

{{{ html }}}

          ]]>
        </content:encoded>
      </item>
    {{/each}}

  </channel>
</rss>